body {
}
td{
    padding:5px;
    color:#808080;
}
div{
    padding-top:10px;
}
.blog_name, blog_quick_info {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font: 36px;
}
.PostBlogButton{
    margin-left: 550px;
color: white;
background-color: darkorange;
border-radius: 30px;
padding: 10px;
margin-top: 20px;
cursor: pointer;
}

