body {
}
div {
    padding-top: 10px;
}
.blog_name {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font: 36px;
    
}

.commentsHeader {
    margin-top: 20px;
    color: darkorange;
}

.comments {
    margin-left: 0px;
    color: white;
}

.AddComment {
    width: 100%;
    height: 100px;
}

input[type=submit] {
    background-color: white;
    color: darkorange;
    padding: 12px 20px ;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border: inset;
    border-color: darkorange;
    margin-left: 0px;
}

    input[type=submit]:hover {
        background-color: darkorange;
        color: white;
    }

.commentShow {
    background-color: lightgoldenrodyellow;
    width: 100%;
    margin-top: 20px;
    color: black;
}



    /*comment section*/

